In [1]:
import numpy as np 
import pandas as pd

In [2]:
submission = pd.read_csv('sample_submission.csv')

In [3]:
nn1 = np.load('pred_bidirectional_LSTM_nn1.npy')
nn2 = np.load('pred_bidirectional_LSTM_nn2.npy')
nn3 = np.load('pred_bidirectional_LSTM_nn3.npy')
nn4 = np.load('pred_bidirectional_LSTM_nn4.npy')
nn5 = np.load('pred_bidirectional_LSTM_nn5.npy')

In [4]:
svc = np.load('linear_svc_probs.npy')

In [5]:
xgb1 = np.load('xgb_p1.npy')
xgb2 = np.load('xgb_p2.npy')
xgb3 = np.load('xgb_p3.npy')
xgb4 = np.load('xgb_p4.npy') 
xgb5 = np.load('xgb_p5.npy')

In [6]:
lgb1 = np.load('lgb_pred1.npy')
lgb2 = np.load('lgb_pred2.npy') 
lgb3 = np.load('lgb_pred3.npy')
lgb4 = np.load('lgb_pred4.npy') 
lgb5 = np.load('lgb_pred5.npy')

In [7]:
nn1.shape

(142565, 1)

In [9]:
svc = svc.reshape((-1,1))

In [11]:
xgb1 = xgb1.reshape((-1,1)) 
xgb2 = xgb2.reshape((-1,1)) 
xgb3 = xgb3.reshape((-1,1)) 
xgb4 = xgb4.reshape((-1,1))
xgb5 = xgb5.reshape((-1,1))

In [12]:
lgb1 = lgb1.reshape((-1,1)) 
lgb2 = lgb2.reshape((-1,1)) 
lgb3 = lgb3.reshape((-1,1)) 
lgb4 = lgb4.reshape((-1,1)) 
lgb5 = lgb5.reshape((-1,1))

In [13]:
pred_avg = (nn1+nn2+nn3+nn4+nn5+svc+xgb1+xgb2+xgb3+xgb4+xgb5+lgb1+lgb2+lgb3+lgb4+lgb5)/16.0

In [14]:
class_pred = np.where(pred_avg > 0.5, 1, 0).reshape(-1)

In [17]:
submission['info'] = class_pred

In [18]:
submission

                  id  info
0        NEWS00237_1     0
1        NEWS00237_2     0
2        NEWS00237_3     0
3        NEWS00237_4     0
4        NEWS00237_5     0
...              ...   ...
142560  NEWS09482_72     1
142561  NEWS09482_73     1
142562  NEWS09482_74     1
142563  NEWS09482_75     1
142564  NEWS09482_76     1

[142565 rows x 2 columns]

In [19]:
# xgb, lgbm, nn, svc ensembles 
submission.to_csv('quick_ensemble.csv', index=False)